.game_select__header {
	display: flex;
	flex-flow: column;
	padding: 25px 44px;
}

.game_list {
	display: flex;
	flex-flow: column;
	row-gap: 22px;
	overflow-y: scroll;
	padding: 15px;
}

.header__row {
	display: flex;
	align-items: flex-end;
}

.header__input_header {
	height: fit-content;
	margin: 0;
}

.header__input {
	width: 100%;
	border-radius: 20px;
	border: 0;
	font-size: 18px;
	padding: 5px 5px;
}
