.main {
	margin: 13px 40px;
	background-color: #d9d9d925;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex-grow: 1;
}

.bubble_up {
	margin-top: 57px;
}

.bubble_down {
	margin-bottom: 180px;
}

.main__arrow {
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
}

.main__arrow_type_up {
	border-bottom: 36px solid #d9d9d925;
	position: absolute;
	top: -36px;
}

.main__arrow_type_down {
	border-top: 36px solid #d9d9d925;
	position: absolute;
	bottom: -36px;
}
