.bottom_hechti {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.bottom_hechti__hechti {
	display: block;
}

.bottom_hechti__moneybag {
	position: absolute;
	right: -50px;
	top: 75px;
	display: block;
}

.bottom_hechti__moneybad_opened {
	display: block;
}
